
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* --------------navbar------------------------------------------------------------ */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
}

/*.partsection img {
  width: 0.1rem;
  height: 0.01rem;
}*/

.navbar .logo img {
  width: 4rem;
  height: 4rem;
  margin-left: 10rem;
  padding: 0.5rem 0;
}

.navbar .logo {
  display: none;
}

.navbar .menuitems {
  width: 100%;
  height: auto;
  margin-right: 10rem;
  z-index: 1;
}

.navbar .menuitems .menuList {
  display: none;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 4rem;
}

.navbar .menuitems .menuList li {
  list-style: none;
  margin-left: 3rem;
  font-family: 'Lato', sans-serif;
}

.navbar .menuitems .menuList li a {
  color: #272a31;
  text-decoration: none;
}

.navbar .menuitems .menuList .participate {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ec5242;
  border: 4px solid #ec5242;
  font-size: 1.5rem;
  height: 3rem;
  width: 8rem;
}

.navbar .menuitems .menuList .participate a {
  color: #ec5242;
  transition: 0.5s ease-in-out;
}

.navbar .menuitems .menuList li a:not(.participate a):hover {
  color: #ec5242;
}

.navbar .humbergar {
  width: 100%;
  height: auto;
  background-color: #aaabaf;
  padding: 0 2rem;
  margin-top: 4rem;
  font-size: 4rem;
  color: #272a31;
  position: fixed;
  z-index: 1;
}

/* -------------------------- hero section of about page------------------------------------------ */
.heroabout {
  background-image: url('./images/bgimg2.jpg');
  opacity: 0.3;
  position: relative;
  width: 100%;
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroaboutlist {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 5rem;
  padding: 0 2rem;
  list-style: none;
  position: absolute;
  top: 0;
}

.heroaboutlist li h4 {
  color: #ec5242;
}

.imgtext h1,
p {
  text-align: center;
  margin: 2rem 0;
}

.heroaboutlist li h1 {
  color: #ec5242;
  font-size: 3em;
}

.heroaboutlist li .festdetail {
  background-color: #fff;
  border: 1px solid #807b7b;
  font-size: 1em;
  padding: 0.2em;
  margin-bottom: 2em;
}

.heroaboutlist li .festcontact {
  text-align: center;
  font-size: 1em;
}

/* ------------------------------------ chronicals section----------------------------- */
.chronicalList .chrotitle {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  font-style: normal;
  margin-top: 0.5em;
}

.chronicalList .chrodesc {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3em;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.chronicalList .festimgs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50rem;
}

.imgdesc {
  position: relative;
  width: 100%;
  height: 100%;
}

.chronicalList .festimgs img {
  width: 100%;
  height: 100%;
  padding: 1em 1em;
}

.imgtext {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(228, 47, 47, 0.5);
  color: white;
  padding: 20px;
  margin: 1rem;
}

/* -----------------------------------css for bigger screens--------------------------------------- */
@media only screen and (min-width: 768px) {
  
  /* ----------------- navbar----------------------------------- */
  .navbar .menuitems .menuList {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 4rem;
  }

  /* ------------------herosection------------------------------ */
  .heroaboutlist {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
  }

  .heroaboutlist li .festdetail {
    background-color: #fff;
    border: 1px solid #807b7b;
    font-size: 1em;
    padding: 2em;
    margin-bottom: 2em;
  }

  .heroaboutlist li .festcontact {
    text-align: center;
    font-size: 1em;
  }

  .heroaboutlist li h4 {
    color: #ec5242;
    padding: 0 2rem;
  }

  .heroaboutlist li h1 {
    color: #ec5242;
    font-size: 3em;
    padding: 0 2rem;
  }

  .chronicalList .festimgs {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 30rem;
  }
}