/* ------------------------- partners section --------------------------------- */
.partnersection {
  background-color: #282831;
  width: 96%;
  height: 50%;
  margin-top: 0.5em;
  margin-left: 1rem;
  margin-right: 2rem;
}

.partnersection h3 {
  text-align: center;
  color: #d3d3d3;
  width: 100%;
  margin-bottom: 0.5rem;
  padding-top: 2rem;
}

.partnersection ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  list-style: none;
}

.footer img {
  width: 3rem;
  height: 3rem;
  margin-left: 2rem;
  padding-top: 0.5rem;
}

.partnersection ul li img {
  width: 5rem;
  height: 5rem;
  margin-right: 0.5rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

/* -------------------- footer section------------------------------------ */
.footer {
  display: flex;
  column-gap: 3rem;
  align-items: center;
  list-style: none;
  justify-content: space-around;
  margin: 0 1rem;
}

/* --------------- css for bigger screens------------------------------------------------- */
@media only screen and (min-width: 768px) {
  .partnersection ul {
    display: inline-flex;
    justify-content: center;
  }
}
